@use "../variables" as *;

.profile {
  padding-block: 59px;
  background-color: $section-color;
  min-height: 100vh;

  .btn-circle {
    width: 31px;
    height: 31px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
}

.system_nav_profiles{
  border-bottom: 1px solid #ECECEC; 
  background: #FFFFFF;
}
.social_redes{
  img{
    width:14px;
    height: 14px;
  }
}

.black_friday{
  position:absolute;
  right:0px;
  top: 0px;
  width: 72px;
  height: 24px;
  font-size: 8px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background:linear-gradient(90deg, #1D33FF 0%, rgba(154, 27, 232, 0.82) 55.73%, #CB36FF 100%);
}

.container-profile{
  height: 156px;
  border-bottom: 1px solid #EDEDED;
  background: #ffffff;
}
.system_followers{
  
  .text-followers{
 color: #A5A5A5;
 font-size: 12px;
  }
}
  figure{
      width: 100%;

      .box_Infoprofile{
        font-size: 10px;
        width: 64%;
 
        line-height: 12px;
        height: 50px;
      
     
        position: relative;
        box-sizing: border-box;
      }

      .box_Infoprofile p {
        background:#FFFFFFE5;
        overflow-y: scroll; 
        margin: 2px;
        padding: 6px;
        box-sizing: content-box;
      }

      .box-container_Infoprofile{ 
        width: 100%;
      }

      .pestaña_box_Infoprofile{
        left: -10px;
        top: 37%;
        width:14px;
        height: 14px;
      }
      // .box-container_Infoprofile::before{
      //   content: '';
      //   width:14px;
      //   height: 12px;
      //   display:block;
      //   background-image: url('../../../assets/Polygon.png');
      //   background-repeat: no-repeat;
      //   background:red;
      //   background-size: auto;
      //   position: absolute;
      //   left: -10px;
      //   top: 40%;
      //   bottom:0px;
      //   z-index: 100;
      // }


      .box_Infoprofile::-webkit-scrollbar{
        width:5px;
        cursor: pointer;
      }
      .box_Infoprofile::-webkit-scrollbar-thumb{
        background: #666666c5;
        border-radius: 10px;
        cursor: pointer;
        
      }

      .box_Infoprofile::-webkit-scrollbar-track{
        border-radius: 9px;
        background: #FFFFFFE5;
      }

      .box_Infoprofile::-webkit-scrollbar-track-piece{
        color:red;
      }



     
  }
  .button-group {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #EDEDED;

    li {
      flex: 1;

      button {
        width: 100%;
        padding-block: 8px;
        background-color: #fff;
        border: 0;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        &.active {
          color: #D43D43;
        }
      }
    }
    hr {
      border: 0;
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      height: 20px;
    }
  }
}
